---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import AboutMeSection from '../components/AboutMeSection.astro';
import ExperienceSection from '../components/ExperienceSection.astro';
import ProjectsSection from '../components/ProjectsSection.astro';
import CertificationsSection from '../components/CertificationsSection.astro';
---

<Layout>
	<NavBar/>
  <main class="flex flex-col w-full max-w-[1200px] px-6 pb-11 md:px-9 lg:pb-20 lg:px-12">
    <AboutMeSection/>
    <ExperienceSection/>
    <ProjectsSection/>
    <CertificationsSection/>
  </main>
</Layout>
