---
import GitHubIcon from "./icons/GitHubIcon.astro"
import SocialBadge from "./SocialBadge.astro"
import LinkedInIcon from "./icons/LinkedInIcon.astro"
---

<section 
  id="about-me"
  class="flex flex-col pt-20 lg:pt-36"
  >
  <h3 class="font-medium text-xl text-purple-400 mb-2 lg:text-2xl">
    Hi! I'm
  </h3>
  <h1 class="text-5xl font-bold mb-1 lg:text-6xl">
    <span class="bg-gradient-to-r from-purple-400 to-purple-600 bg-clip-text text-transparent">
      Oswaldo Luna
    </span>
  </h1>
  <h2 class="text-2xl font-semibold text-gray-600 dark:text-gray-400 mb-7 lg:text-3xl lg:mb-11">
    Software Developer
  </h2>
  <p class="text-xl max-w-5xl leading-relaxed text-pretty break-words bg-white mb-8 dark:bg-transparent lg:text-2xl lg:mb-11">
    Full Stack Developer with 5+ years of experience building scalable web and mobile applications. Specialized in React, Next.js, Vue.js, and Python/FastAPI, with strong expertise in cloud deployment (AWS, Azure) and database management (MongoDB, PostgreSQL). Skilled in designing responsive, user-centered interfaces and implementing efficient state management solutions (Zustand, TanStack Query, Pinia, Redux). Experienced in delivering end-to-end solutions, from UI/UX design to backend integration, ensuring high performance, scalability, and maintainability.  </p>
  <div class="flex text-white gap-x-6">
    <SocialBadge 
      href="https://github.com/OswaldLuna"
      ariaLabel="Go to GitHub"
    >
      <GitHubIcon class="size-8"/>
      Github
    </SocialBadge>
    <SocialBadge 
      href="https://www.linkedin.com/in/oswaldo-luna-hernandez-7282a12a5/"
      ariaLabel="Go to LinkedIn"
    >
      <LinkedInIcon class="size-8"/>
      LinkendIn
    </SocialBadge>
  </div>
</section>