---
import TimeLineExperience from "./TimeLineExperience.astro"
import BriefcaseIcon from "./icons/BriefcaseIcon.astro"
---

<section 
  id="experience"
  class="flex flex-col pt-20 lg:pt-36"  
>
  <div class="flex mb-7 gap-x-6 items-center lg:mb-11">
    <BriefcaseIcon class="size-12 text-gray-600 dark:text-white lg:size-14"/>
    <h1 class="font-bold text-5xl leading-normal bg-gradient-to-r from-purple-400 to-purple-600 bg-clip-text text-transparent lg:text-6xl lg:leading-normal">
      Work Experience
    </h1>
  </div>
  <TimeLineExperience/>
</section>