---
const { href, label, mobileLabel } = Astro.props;
---

<a 
  href={href} 
  
  class="text-purple-800 hidden transition-colors duration-300 hover:underline hover:text-purple-500 
  dark:hover:text-white dark:text-white/75 md:block xl:text-lg"
>
  {label}
</a>
<a 
  href={href} 
  class="text-purple-800 transition-colors duration-300 hover:underline hover:text-purple-500
  dark:text-white/75 dark:hover:text-white md:hidden"
>
  {mobileLabel}
</a>
