---
import { workExperience } from "../data/workRxperience";
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {workExperience.map((job) => (
    <li class="mb-10 ms-10">
      <span class="absolute flex items-center justify-center size-6 bg-purple-800 rounded-full -start-3 ring-4 ring-purple-800/40 
        dark:ring-white/40 dark:bg-white lg:size-8 lg:-start-4 lg:right-4"
      >
        <svg
          class="size-3 text-white dark:text-purple-800 lg:size-4"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
        </svg>
      </span>
      <h3 class="flex items-center mb-1 text-2xl font-semibold text-gray-900 dark:text-white lg:text-3xl">
        {job.title} - {job.company}
      </h3>
      <time class="block text-lg mb-6 font-medium leading-none text-gray-600 dark:text-gray-400">{job.date}</time>
      <p class="mb-4 text-xl font-normal lg:text-2xl">{job.description}</p>
    </li>
  ))}
</ol>



